@import '../../../globals.sass';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

div.phone {
  background: black;
  border-radius: 1.5em;
  width: 20em;
  height: 40em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-family: 'Roboto', sans-serif;
}

div.phone > div {
  background: aliceblue;
  width: 85%;
  height: 90%;
  margin: 1em 0 0;
}

// on an actual phone: don't show the phone outline
@media screen and (max-width: $phone_upper_width) and (orientation: portrait) {
  div.phone {
    background: transparent;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  div.phone > div {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

//don't display phone at all on an iPad
@media screen and (max-width: $iPad_upper_width) and (min-width: $phone_upper_width) {
  div.phone {
    display: none;
  }

  div.phone > div {
  }
}
