div.repair-app-header-bar {
  background: rgb(55, 55, 55);
  height: 3em;
  display: flex;
  width: 100%;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
  align-items: center;
  color: rgb(210, 210, 210);
}

div.notification-container {
  border: 0.1em solid rgb(31, 31, 39);
  margin: 0.5em;
  padding: 0 0.5em;
  background: whitesmoke;
}

p.notification-timestamp {
  color: rgb(103, 103, 103);
  text-align: center;
  font-size: smaller;
}

p.notification-message {
  color: rgb(31, 31, 39);
}

div.notifications-container {
  overflow-y: scroll;
  max-height: 100%;
}
