div.repair-app-header-bar {
  background: rgb(55, 55, 55);
  height: 3em;
  display: flex;
  width: 100%;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
  align-items: center;
  color: rgb(210, 210, 210);
}

div.message-notification-container {
  border: 0.1em solid rgb(31, 31, 39);
  margin: 0.5em;
  padding: 0 0.5em;
  background: whitesmoke;
}
div.call-request-notification-container {
  border: 0.1em solid rgb(31, 31, 39);
  margin: 0.5em;
  padding: 0 0.5em;
  background: palegreen;
}
div.part-request-notification-container {
  border: 0.1em solid rgb(31, 31, 39);
  margin: 0.5em;
  padding: 0 0.5em;
  background: lightcoral;
}

p.notification-timestamp {
  color: rgb(103, 103, 103);
  text-align: center;
  font-size: smaller;
}

p.notification-message {
  color: rgb(31, 31, 39);
}

div.notifications-container {
  overflow-y: scroll;
  max-height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
div.notifications-container::-webkit-scrollbar {
  display: none;
}

button.reject-button,
button.accept-button,
button.call-button {
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  border: none;
  background: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
}
button.accept-button {
  color: forestgreen;
}
button.call-button {
  color: forestgreen;
}
button.reject-button {
  color: crimson;
}
button.reject-button,
button.accept-button {
  width: 4rem;
}

div.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
