div.customer-dashboard-tile {
  display: inline-block;
  width: 7em;
  height: 7em;
  background: palegreen;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
}
div.new-customer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 400ms ease 0s;
  cursor: pointer;
}

div.new-customer-button > span {
  font-size: xxx-large;
  user-select: none;
}

div.new-customer-button:hover {
  background: #55c155;
}
