div.customer-dashboard-tile {
  display: inline-block;
  width: 7em;
  height: 7em;
  background: white;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 300ms ease;
  user-select: none;
  cursor: pointer;
}
div.customer-dashboard-tile:hover {
  background-color: aliceblue;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
div.new-customer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 400ms ease 0s;
  cursor: pointer;
}

div.new-customer-button > span {
  font-size: xxx-large;
  user-select: none;
}

div.new-customer-button:hover {
  background: #55c155;
}
