div.customer-details-page {
  display: block;
  background: white;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
}

input.send-message-box {
  width: 83%;
  height: 100%;
  font-family: 'Product Sans', sans-serif;
  border-radius: 0.25rem;
  font-size: large;
  border: 1px solid #3f3f3f;
}

button.send-message-button {
  height: 100%;
  font-family: 'Product Sans', sans-serif;
  border-radius: 0.25rem;
  font-size: large;
  padding: 0.3rem;
  border: 1px solid #3f3f3f;
  background-color: #fff;
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 15%;
}

button.send-message-button:hover {
  background-color: #c3dbc3;
  cursor: pointer;
}

div.paragraph-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.mechanic-send-message {
  height: 2rem;
  display: flex;
  font-size: large;
  flex-direction: row;
  justify-content: space-between;
}

span.license-plate {
  font-family: monospace;
  background: #d4b517;
  border-radius: 0.1rem;
  padding: 0.25rem 1.5rem;
  color: #393939;
  font-weight: bolder;
}

button.back-button {
  background: transparent;
  border: transparent;
  cursor: pointer;
  margin: 0 0.5rem;
}
span.mechanic-response-message {
  color: forestgreen;
  font-size: 0.8em;
  padding: 0 1em;
}
span.mechanic-response-error-message {
  color: crimson;
  font-size: 0.8em;
  padding: 0 1em;
}
