div.mechanic-i-pad {
  height: 100%;
  min-height: 40em;
  width: 100%;
  min-width: 50em;
  background: black;
  border-radius: 2em;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
//todo: set all divs on page to 100% height. Its the only way
div.mechanic-i-pad > div {
  background: aliceblue;
  display: block;
  //flex-direction: row;
  width: 94%;
  height: 90%;
}
